---
---

@import "{{ site.theme }}";

p {
    	text-align: justify
}

hr.style15 {
	border-top: 4px double #8c8b8b;
	text-align: center;
	margin-left: 8em;
    	margin-right: 8em;
	margin-top: 5 em;
}
hr.style15:after {
	content: '\002665';
	display: inline-block;
	position: relative;
	top: -10px;
	padding-top: 0px;
    	padding-right: 10px;
    	padding-bottom: 0px;
    	padding-left: 10px;
	background: #282828;
	color: #8c8b8b;
	font-size: 20 px;

}


hr.style14 { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
  margin-left: 5em;
  margin-right: 5em;	
}

hr.style13 {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.youtube {
    margin: auto;
    width: 70%;
    padding: 10px;
}


.img-circle {
    border-radius: 50%;
}



/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
}


h3.mail {
    color: '#75a4ef';
}

div.ex3 {
    padding: 25px 50px;
}
